
* {
  margin:0 !important;
  
}


html {
  font-size: 12px;
  font-family: "Roboto Cn", sans-serif;
}

li > a {
  text-decoration: none;
  color: #eee;
} 

a:hover,
a:active,
a:focus {
  color: rgb(243, 100, 44);
  text-decoration: none;
}


header {
  width: 100%;
  height: 10vh;
  background: rgb(63, 29, 90)center no-repeat; 

  background-size: cover;
  position: relative; 
  overflow: hidden;
}  

.wrap-button{
  padding-top:30px;
  padding-right:80px;
}


.btn {
  width: 120px;
  height: 60px;
  font-size: 2rem;
  font-weight: 300;
} 
 
.menu-toggle {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
} 

nav {
  padding-top: 1.4rem;
  margin-right: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5rem;
} 

.forum {
  font-family: pacifico;
  color: rgb(63, 29, 90);
  padding-top:30px;
  padding-left:100px;
  font-size: 5rem;
  font-weight: 200;
  transform: translateX(-150rem);
  animation: slideIn .7s forwards;
}

.forum span {

  color: rgb(243, 100, 44);
}

nav ul {
  display: flex;
  padding-top:10px;
  font-size:3rem;
} 

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .8s forwards;
} 
 nav ul li:nth-child(1) {
  animation-delay: 0.4s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.9s;
}

nav ul li:nth-child(3) {
  animation-delay: 1.4s;
} 
 


nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 4px;
}

nav ul li a:last-child {
  margin-right: 0;
}



nav ul li a::before,
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(243, 100, 44);
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before {
  top: 5px;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 5px;
  transform-origin: right;
}


.overlay {
  background-color: rgba(0, 0, 0, .95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 800ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {}

  to {
    transform: translateX(0);
  }
}
  



/* 
.screen {
  padding: 0;
  background-color: #adb4b4cc;
  color: #ffffff;
  min-height: 350px;
  width: 100%;
}

.btn {
  height: 50px;
  width: 110px;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 250;
}

.item-2 {
  background-color: rgb(173, 247, 104);
  color: #fff;
  min-height: 150px;
  width: 100%;
}

.item-3 {
  background-color: rgb(243, 100, 44);
  color: rgb(255, 255, 255);
  min-height: 150px;
  width: 100%;
}

.item-4 {
  background-color: rgb(132, 220, 247);
  color: #fff;
  min-height: 300px;
  width: 100%;
}

.banner1 {
  max-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  background-image: url("../../Resources/css/img/mountain.jpg");
}

.banner2 {
  max-height: 100%;
  max-width: 100%;
  opacity: 0.8;

  background-image: url("../../Resources/css/img/ocern.jpg");
}

footer .logo {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 40px;
  padding: 11px 0px;
  border-bottom: 1px solid #4d4d4d;
}

footer .wrapper {
  display: flex;
  color: #9b9898;
  margin-top: 20px;
}

footer .left,
footer .right {
  flex: 1;
}

footer .business_nfo {
  display: flex;
  flex-wrap: wrap;
}

footer .business_nfo .tag {
  flex-grow: 1;
  position: relative;
  width: 50%;
  margin-bottom: 30px;

}

footer .business_nfo .icon {
  position: absolute;
  font-size: 26px;
  top: 10px;
  margin-top: 20px;
}

footer .business_nfo .nfo {
  padding-left: 40px;
  margin-top: 20px;
}

span {
  color: rgb(243, 100, 44);
}

 */


